<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Category</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.category.title %></td>
                    <th>
                        <a href="/admin/articles/editArticle/<%= article.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger" style="display: inline;">Deletar</button>               
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a class="btn btn-success" href="/admin/articles/newArticle">Novo artigo</a>
</div>
<br>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var confirmaDelete = confirm("Deletar?")
        if(confirmaDelete){
            form.submit();
        }
    }
</script>