<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<body>

    <hr>
    <div class="container">
        <div class="row">
            <% result.articles.rows.forEach(article => { %>
                <div class="col-md-4">
                    <div class="card">
                        <!-- <img class="card-img-top" src="https://pm1.narvii.com/6661/7556411a6a02f80700febb91a6e1c8fc7e579c89_00.jpg" alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title"><%= article.title %></h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%- article.createdAt %></small>
                   
                        </div>
                        <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                    </div>
                </div>
            <% }) %>
            
               
        </div>
        <hr><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/" tabindex="-1">First Page</a>
                </li>
            <% if (result.page > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/articles/page/<%= result.page - 1 %>" tabindex="-1">Previous</a>
                </li>
            <% } %> 
            <% if (result.next) { %>
                <li class="page-item">
                    <a class="page-link" href="/articles/page/<%= result.page + 1 %>">Next</a>
                </li>
            <% } %> 
            </ul>
        </nav>
    </div>
    <hr>
</body>


<%- include('../../partials/footer.ejs') %>

</script>