<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <hr>
    <table class="table table-bordered table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/editCategory/<%= category.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>               
                        </form>
 
                    </th>    
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a class="btn btn-success" href="/admin/categories/newCategory">Criar categoria</a>
</div>

<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var confirmaDelete = confirm("Deletar?")
        if(confirmaDelete){
            form.submit();
        }
    }
</script>